@import "./animations.scss";

.has-entrance-animation{
    visibility: hidden;
    animation-name: none !important;
}

.group-alignment-toolbar{
    width: 100%;
    .inner-btn{
        flex: 1;
        justify-content: center;
    }
}
.grigora-multiselect-input{
    width: 100%;

    .grigora-multiselect-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-datetime-input{
    width: 100%;

    .grigora-datetime-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-datetime-input__popover .components-popover__content {
    padding: 8px 15px;
    width: 300px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.group-alignment-toolbar-label{
    margin-bottom: 0px;
    height: 24px;
}

.components-panel[is-grigora-sidebar] .block-editor-block-card{
    background-color: #f9f4f9;
}

.components-panel[is-grigora-sidebar] .components-panel__body.block-editor-block-inspector__advanced{
    display: none;
    border-top: 0px;
}

.components-panel[grigora-sidebar-selected-index="2"] .components-panel__body.block-editor-block-inspector__advanced{
    display: block;
}

.components-panel[is-grigora-sidebar] .components-panel__body{
    &.motion_effects_panel, &.sticky_panel, &.position_panel, &.responsive_panel{
        display: none;
    }
    
    &.motion_effects_panel{
        border-top: 0px;
    }

}

.components-panel[grigora-sidebar-selected-index="2"] .components-panel__body{
    &.motion_effects_panel, &.sticky_panel, &.position_panel, &.responsive_panel{
        display: block;
    }
}

.grigora-notice{
    padding: 15px;
    font-size: 13px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;

    &.status-success{
        color: #4e9b41;
        background-color: #e3f8e2;
        border-left: 5px solid #c8f8ca;
    }
    &.status-warning{
        color: #9b9a41;
        background-color: #f6f8e2;
        border-left: 5px solid #e9e8b4;
    }
    &.status-info{
        color: #41739c;
        background-color: #e4f3ff;
        border-left: 5px solid #c6e3fb;
    }
}

.grigora-tabs-container{
    .tabs-header{
        display: flex;
        background-color: #f9f4f9;
        margin-top: 0;
        margin-bottom: 0;

        .general, .styles, .advanced{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f9f4f9;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            // border-bottom-left-radius: 5px;
            // border-bottom-right-radius: 5px;
            font-weight: 500;
            margin-bottom: 0px;
            cursor: pointer;
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10px;
            gap: 5px;
            color: #585858;
            border: 1px solid transparent;
            border-bottom: 1px solid rgb(219 217 217);

            &:hover{
                background-color: #f9f9f9;
            }
        }
        .general.react-tabs__tab--selected{
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border: 1px solid rgb(219 217 217);
            border-bottom: 1px solid transparent;
            color: #9505E8;
        }
        .styles.react-tabs__tab--selected{
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border: 1px solid rgb(219 217 217);
            border-bottom: 1px solid transparent;
            color: #9505E8;

        }
        .advanced.react-tabs__tab--selected{
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border: 1px solid rgb(219 217 217);
            border-bottom: 1px solid transparent;
            color: #9505E8;

        }
    }

    .components-panel__body:first-child{
        border-top: 0px;
    }
}

.grigora-normal-hover-tabs-container{
    .tabs-header{
        display: flex;
        background-color: #f9f4f9;

        .normal, .hover{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            // border-bottom-left-radius: 5px;
            // border-bottom-right-radius: 5px;
            font-weight: 500;
            margin-bottom: 0px;
            cursor: pointer;
            flex-direction: column;
            padding-top: 5px;
            padding-bottom: 5px;
            gap: 5px;
            color: #585858;
            border: 1px solid #e0e0e0;

            &:hover{
                background-color: #f9f9f9;
            }
        }

        .normal{
            border-top-left-radius: 5px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 0px;
        }

        .hover{
            border-top-left-radius: 0px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 5px;
        }

        .normal.react-tabs__tab--selected{
            background-color: #f9f4f9;
            border: 1px solid #9505E8;
            color: #9505E8;
        }
        .hover.react-tabs__tab--selected{
            background-color: #f9f4f9;
            border: 1px solid #9505E8;
            color: #9505E8;

        }
    }

    .components-panel__body:first-child{
        border-top: 0px;
    }


}

		
.grigora-normal-hover-active-tabs-container{	
    .tabs-header{	
        display: flex;	
        background-color: #f9f4f9;	
        .normal, .hover, .active{	
            flex: 1;	
            display: flex;	
            justify-content: center;	
            align-items: center;	
            background-color: #fff;	
            border-top-left-radius: 5px;	
            border-top-right-radius: 5px;	
            // border-bottom-left-radius: 5px;	
            // border-bottom-right-radius: 5px;	
            font-weight: 500;	
            margin-bottom: 0px;	
            cursor: pointer;	
            flex-direction: column;	
            padding-top: 5px;	
            padding-bottom: 5px;	
            gap: 5px;	
            color: #585858;	
            border: 1px solid #e0e0e0;	
            &:hover{	
                background-color: #f9f9f9;	
            }	
        }	
        .normal{	
            border-top-left-radius: 5px;	
            border-top-right-radius: 0px;	
            border-bottom-left-radius: 5px;	
            border-bottom-right-radius: 0px;	
        }	
        .hover{	
            border-top-left-radius: 0px;	
            border-top-right-radius: 0px;	
            border-bottom-left-radius: 0px;	
            border-bottom-right-radius: 0px;	
        }	
        	
        .active{	
            border-top-left-radius: 0px;	
            border-top-right-radius: 5px;	
            border-bottom-left-radius: 0px;	
            border-bottom-right-radius: 5px;	
        }	
        .normal.react-tabs__tab--selected{	
            background-color: #f9f4f9;	
            border: 1px solid #9505E8;	
            color: #9505E8;	
        }	
        .hover.react-tabs__tab--selected{	
            background-color: #f9f4f9;	
            border: 1px solid #9505E8;	
            color: #9505E8;	
        }	
        .active.react-tabs__tab--selected{	
            background-color: #f9f4f9;	
            border: 1px solid #9505E8;	
            color: #9505E8;	
        }	
    }	
    .components-panel__body:first-child{	
        border-top: 0px;	
    }	
}

.components-panel__body:last-child{
    border-bottom: 1px solid #e0e0e0;
}

.tab-normal, .tab-hover{
    width: 50%;
    justify-content: center;
}

.grigora-dropdown-hstack{
    .components-base-control{
        width: 100%;
        margin-bottom: 10px;
    }
}

.grigora-icon-picker{

    .grigora-svg-icon{
        width: 64px;
        height: 64px;
        display: inline-flex;
        margin: 10px;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 1px solid #ddd;
        border-radius: 3px;

        &:hover{
            background-color: #eee;
        }

        svg{
            width: 32px;
            height: 32px;
        }

        &.active{
            border: 2px solid #8000E9;
        }
    }
}

.grigora-icons-selected-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;

    svg{
        width: 32px;
        height: 32px;
    }
}

.grigora-icons-selected{
    display: flex;
    justify-content: space-around;
}

.grigora-inside-panel{
    border: 1px solid #e0e0e0 !important;
}

.grigora-hover-effects-panel{
    .components-base-control__field{
        justify-content: center;
    }
}

.grigora-icons-panel{
    .dropdown-component-margin-0{
        .components-base-control{
            margin-bottom: 0px !important;
            .components-base-control__field{
                margin-bottom: 0px !important;
            }
        }
    }
    .components-toggle-control{
        .components-base-control__field{
            justify-content: center;
        }
    }
}

.grigora-icon-picker-modal-overlay{
    .components-modal__frame{
        width: 90vw;
        height: 70vh;
    }
}

.popover-link-controls{
    padding: 16px;
    padding-top: 0px;
}

.grigora-range-input{
    .components-range-control{
        width: 100%;
        margin-bottom: 0px !important;

        .components-base-control__field{
            margin-bottom: 0px !important;
        }
    }
    .components-unit-control-wrapper{
        width: 75px;

        .components-unit-control__unit-label{
            width: 15px !important;
        }
    }

    .grigora-range-input__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-select-input{
    width: 100%;

    .grigora-select-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-fontfamily-input{
    width: 100%;

    .grigora-fontfamily-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-color-input{
    width: 100%;
    padding-bottom: 15px;

    .grigora-color-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }

    &__colorselect{
        display: inline-flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        padding: 10px;
        border: 1px solid #e0e0e0;
        justify-content: space-between;

        .inner{
            display: inline-flex;
            align-items: center;
            gap: 16px;
        }
    }

    &__popover{
            .components-popover__content{
                padding: 8px;
            }
    }
}

.grigora-gradient-input{
    width: 100%;

    .grigora-gradient-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-colorgradient-input{
    width: 100%;
    padding-bottom: 15px;

    .grigora-colorgradient-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }

    &__colorselect{
        display: inline-flex;
        align-items: center;
        gap: 16px;
        width: 100%;
        padding: 10px;
        border: 1px solid #e0e0e0;
    }

    &__popover{
            .components-popover__content{
                padding: 8px;
                width: 250px;

                legend{
                    display: none;
                }
            }
    }
}

.grigora-borderbox-input{
    width: 100%;

    .grigora-borderbox-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-alignment-input{
    width: 100%;

    .grigora-alignment-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
    .alignment-toolbar{
        width: 100%;
        .inner-btn{
            flex: 1;
            justify-content: center;
        }
    }
}

.grigora-typography-input{
    width: 100%;

    .grigora-typography-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-borderradius-input{
    width: 100%;

    .grigora-borderradius-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }

    .grigora-borderradius-input__select{
        legend{
            display: none;
        }
    }
    .grigora-borderradius-input__hstack{
        padding-bottom: 5px;
    }
}

.grigora-unit-input{
    width: 100%;

    .grigora-unit-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-ltrb-input{
    width: 100%;

    .grigora-ltrb-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }

    .grigora-ltrb-input &__top{
        width: 50%;
        margin: auto;
    }

    .grigora-ltrb-input &__bottom{
        width: 50%;
        margin: auto;
    }

}

.grigora-box-input{
    width: 100%;

    .grigora-box-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
    
    .component-box-control__header{
        display: none;
    }

    .components-h-stack{
        gap:10px
    }
}

.grigora-number-input{
    width: 100%;

    .grigora-number-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-text-input{
    width: 100%;

    .grigora-text-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-toggle-input{
    width: 100%;

    .grigora-toggle-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }
}

.grigora-radio-input{
    width: 100%;

    .grigora-radio-input &__label{
        height: 24px;
        display: flex;
        align-items: center;
    }

    &__radiobox{
        text-align: center;
    }
}

.background-selector{
    text-align: center;
    margin-top: 15px;
}

.grigora-media-select{
    text-align: center;
}

.grigora-gallery-picker-editor{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #d7d4d4;
    padding: 5px;
    border-radius: 3px;

    img{
        display: inline-flex;
        height: auto;
        max-width: 25%;
    }
}

.grigora-focalpoint-picker-h1ma{
    margin-top:1rem;
}

.grigora-cssfilter-input__popover .components-popover__content {
    padding: 8px;
    width: 200px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }


    .grigora-range-input{

        &__blur .components-base-control__label{
            margin-bottom: 0px;
        }
        &__brightness .components-base-control__label{
            margin-bottom: 0px;
        }
        &__contrast .components-base-control__label{
            margin-bottom: 0px;
        }
        &__saturation .components-base-control__label{
            margin-bottom: 0px;
        }
        &__hue .components-base-control__label{
            margin-bottom: 0px;
        }
    }
}

.grigora-mousemovement-input__popover .components-popover__content {
    padding: 8px;
    width: 250px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }


    .grigora-range-input{

        &__blur .components-base-control__label{
            margin-bottom: 0px;
        }
        &__brightness .components-base-control__label{
            margin-bottom: 0px;
        }
        &__contrast .components-base-control__label{
            margin-bottom: 0px;
        }
        &__saturation .components-base-control__label{
            margin-bottom: 0px;
        }
        &__hue .components-base-control__label{
            margin-bottom: 0px;
        }
    }
}

.grigora-typography-input__popover .components-popover__content {
    padding: 8px 15px;
    width: 250px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }


    .grigora-range-input{

        &__blur .components-base-control__label{
            margin-bottom: 0px;
        }
        &__brightness .components-base-control__label{
            margin-bottom: 0px;
        }
        &__contrast .components-base-control__label{
            margin-bottom: 0px;
        }
        &__saturation .components-base-control__label{
            margin-bottom: 0px;
        }
        &__hue .components-base-control__label{
            margin-bottom: 0px;
        }
    }
}

.grigora-scrollmovement-input__popover .components-popover__content {

    .inner-section{
        padding: 8px;
        padding-left: 25px;
        padding-right: 25px;
    }

    width: 250px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }


    .grigora-range-input{

        &__blur .components-base-control__label{
            margin-bottom: 0px;
        }
        &__brightness .components-base-control__label{
            margin-bottom: 0px;
        }
        &__contrast .components-base-control__label{
            margin-bottom: 0px;
        }
        &__saturation .components-base-control__label{
            margin-bottom: 0px;
        }
        &__hue .components-base-control__label{
            margin-bottom: 0px;
        }
    }
}


.grigora-kit-gradient-popover-contents{
    min-width: 360px;
    display: block;
    padding: 30px 20px;
    display: flex;
    position: relative;

    .components-custom-gradient-picker__control-point-button{
        padding: 6px 6px;
    }
}

.element-container {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #efefef;
    box-sizing: border-box;
    user-select: none;
    color: #333;
    font-weight: 400;
    height: 48px;
}

.main-error-container {
    border-style: solid;
    text-align: center;
    padding: 2%;
}

.error-title-container{
    margin-top: 0;
    margin-bottom: 4%;
}

.cursor-events-default {
    cursor: default;
}
// Responsive Controls
.responsive-control{
    display: flex;
    gap: 5px;
    margin-left: 5px;
    .desktop, .tablet, .mobile {
        display: flex;
        width: 18px;
        cursor: pointer;
        align-items: center;
        svg{
            color: #979595;
        }
        &.active{
            svg{
                color: #9505e8;
            }
        }
    }
    .mobile{
        svg{
            height: 18px;
        }
    }
}