/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-roadmap ::selection {
  color: #fff;
  background: #3ea0e2;
}
.grigora-kit-roadmap .wrapper {
  max-width: 1080px;
  margin: 50px 60px;
  padding: 0 40px;
  position: relative;
}
.grigora-kit-roadmap .wrapper section img {
  object-fit: cover;
  width: 100%;
}
.grigora-kit-roadmap .wrapper section .image-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 4;
}
.grigora-kit-roadmap .wrapper.middle {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.grigora-kit-roadmap .wrapper .row .card-content {
  padding: 20px;
}
.grigora-kit-roadmap .wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: white;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.grigora-kit-roadmap .wrapper .center-line.left {
  position: absolute;
  height: 100%;
  width: 4px;
  background: white;
  left: 0%;
  top: 20px;
  transform: translateX(-50%);
}
.grigora-kit-roadmap .wrapper .center-line.right {
  position: absolute;
  height: 100%;
  width: 4px;
  background: white;
  left: 100%;
  top: 20px;
  transform: translateX(-50%);
}
.grigora-kit-roadmap .wrapper .row {
  display: flex;
}
.grigora-kit-roadmap .wrapper .row-1 {
  justify-content: flex-start;
}
.grigora-kit-roadmap .wrapper .row-2 {
  justify-content: flex-end;
}
.grigora-kit-roadmap .wrapper .row-1.right {
  justify-content: flex-end;
}
.grigora-kit-roadmap .wrapper .row-2.left {
  justify-content: flex-start;
}
.grigora-kit-roadmap .wrapper .row section {
  background: white;
  border-radius: 5px;
  width: calc(50% - 40px);
  position: relative;
}
.grigora-kit-roadmap .wrapper .row.row-1.right section {
  background: white;
  border-radius: 5px;
  width: 100%;
  position: relative;
}
.grigora-kit-roadmap .wrapper .row.row-2.left section {
  background: white;
  border-radius: 5px;
  width: 100%;
  position: relative;
}
.grigora-kit-roadmap .wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: red;
  top: 28px;
  z-index: 3;
  transform: rotate(45deg);
}
.grigora-kit-roadmap .row-1 section::before {
  right: -7px;
  background: #fff;
}
.grigora-kit-roadmap .row-2 section::before {
  left: -7px;
}
.grigora-kit-roadmap .row section .icon,
.grigora-kit-roadmap .center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #3ea0e2;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.grigora-kit-roadmap .center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.grigora-kit-roadmap .row-1 section .icon {
  top: 15px;
  right: -60px;
}
.grigora-kit-roadmap .row-2 section .icon {
  top: 15px;
  left: -60px;
}
.grigora-kit-roadmap .row section .details,
.grigora-kit-roadmap .row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grigora-kit-roadmap .row section .details .title {
  font-weight: 600;
}
.grigora-kit-roadmap .row section p {
  margin: 10px 0 17px 0;
}
.grigora-kit-roadmap .row section .bottom .link-text {
  text-decoration: none;
  background: #3ea0e2;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.grigora-kit-roadmap .row section .bottom .link-text:hover {
  transform: scale(0.97);
}
.grigora-kit-roadmap .row section .title {
  color: black;
}
.grigora-kit-roadmap .row section .author {
  color: black;
}
.grigora-kit-roadmap .row section .content {
  color: black;
}
.grigora-kit-roadmap .row section .date {
  color: black;
}
@media (max-width: 790px) {
  .grigora-kit-roadmap .wrapper .center-line {
    left: 40px;
  }
  .grigora-kit-roadmap .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .grigora-kit-roadmap .wrapper .row section {
    width: 100%;
  }
  .grigora-kit-roadmap .row-1 section::before {
    left: -7px;
  }
  .grigora-kit-roadmap .row-1 section .icon {
    left: -60px;
  }
}
@media (max-width: 440px) {
  .grigora-kit-roadmap .wrapper .center-line,
.grigora-kit-roadmap .row section::before,
.grigora-kit-roadmap .row section .icon {
    display: none;
  }
  .grigora-kit-roadmap .wrapper .row {
    margin: 10px 0;
  }
}