/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .editPopup{
					
    background-color: #5093d4;
    padding: 10px;
    border-radius: 2px;
    font-size: 20px;
    width: fit-content;
    
}