/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.element-container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  user-select: none;
  color: #333;
  font-weight: 400;
  height: 48px;
}

.main-error-container {
  border-style: solid;
  text-align: center;
  padding: 2%;
}

.error-title-container {
  margin-top: 0;
  margin-bottom: 4%;
}