/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-grigora-kit-group{
    .block-editor-inner-blocks{
        .block-editor-block-list__layout{
            & > * {
                margin-block-start: 0;
                margin-block-end: 0;
            }
    
            & > * + * {
                margin-block-start: var( --wp--style--block-gap );;
                margin-block-end: 0;
            }
        }
    }
}