/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wp-block-grigora-kit-group {

    overflow: hidden;

    video{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0px;
        left: 0px;
        z-index: 0; 
    }

    .caption{
        z-index: 1;
        position: relative;
        text-align: center;
        color: #dc0000;
        padding: 10px;
    }

    .background-color { 
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 0; 
    }

    .grigora-group-slideshow,
    .grigora-group-slideshow:after { 
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 0; 
        margin: 0 !important;
    }
    .grigora-group-slideshow:after { 
        content: '';
        background: transparent url("") repeat top left; 
    }
    .grigora-group-slideshow{
        list-style: none;
    }
    .grigora-group-slideshow li span { 
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        z-index: 0;
    }

}