/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@media only screen and (min-width: 768px) {
  .grigora-kit-post-grid-1 .main-container {
    grid-template-columns: 40% 60%;
    display: grid;
  }
  .grigora-kit-post-grid-1 .middle-container {
    grid-template-columns: 54% 46%;
    display: grid;
  }
  .grigora-kit-post-grid-1 .first-block-css {
    background-image: url("https://cdn.pixabay.com/photo/2015/02/02/15/28/bar-621033_960_720.jpg");
    display: flex;
    position: relative;
    overflow: hidden;
    background-size: cover;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .grigora-kit-post-grid-1 .second-block-css {
    background-image: url("https://cdn.pixabay.com/photo/2015/02/02/15/28/bar-621033_960_720.jpg");
    display: flex;
    position: relative;
    overflow: hidden;
    background-size: cover;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .grigora-kit-post-grid-1 .third-block-css {
    background-image: url("https://cdn.pixabay.com/photo/2015/02/02/15/28/bar-621033_960_720.jpg");
    display: flex;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .grigora-kit-post-grid-1 .fourth-block-css {
    background-image: url("https://cdn.pixabay.com/photo/2015/02/02/15/28/bar-621033_960_720.jpg");
    display: flex;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .grigora-kit-post-grid-1 .content-css {
    align-self: flex-end;
    color: white;
  }
}
@media only screen and (max-width: 767px) {
  .grigora-kit-post-grid-1 .main-container {
    display: flex;
    flex-direction: column;
  }
  .grigora-kit-post-grid-1 .middle-container {
    display: flex;
    overflow-x: auto;
  }
  .grigora-kit-post-grid-1 .first-block-css {
    background-image: url("https://cdn.pixabay.com/photo/2015/02/02/15/28/bar-621033_960_720.jpg");
    display: flex;
    height: 36vh !important;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .grigora-kit-post-grid-1 .second-block-css {
    background-image: url("https://cdn.pixabay.com/photo/2015/02/02/15/28/bar-621033_960_720.jpg");
    display: flex;
    height: 36vh !important;
    min-width: 60%;
    max-width: 70%;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .grigora-kit-post-grid-1 .third-block-css {
    background-image: url("https://cdn.pixabay.com/photo/2015/02/02/15/28/bar-621033_960_720.jpg");
    display: flex;
    height: 36vh !important;
    min-width: 60%;
    max-width: 70%;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .grigora-kit-post-grid-1 .fourth-block-css {
    background-image: url("https://cdn.pixabay.com/photo/2015/02/02/15/28/bar-621033_960_720.jpg");
    display: flex;
    height: 36vh !important;
    min-width: 60%;
    max-width: 70%;
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .grigora-kit-post-grid-1 .content-css {
    align-self: flex-end;
    color: white;
  }
}