/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-faq{

   .align-editor{
      display: flex;
      justify-content: start;
      align-items: center;
   }

   .faq-block{
      overflow: visible;
   }


  .naviagte-tab{
   
      display: flex;
      justify-content: flex-end;
      width: 100%;
      position: absolute;
      bottom: 100%;
      
   
   }
   
   .navigate-icons{
      width: 100px;
      background-color: aliceblue;
      color : black;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      padding: 5px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 5;
      // position: absolute;
   }


   .tab-btn{
   display: flex;
   align-items: flex-end;
   height: 100%;
   }

   .add-tab{
      width: 30px;
      height: 30px;
      margin-left: 10px;

   }


   .delete-icon{
      color: #000000;
   }

   .navigate-icon{
      color: #000000;
   }

   .navigate-icon:hover{
      color: blue;
      cursor: pointer;
   }

   .delete-icon:hover{
      cursor: pointer;
      color: red;
   }
}

 