/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .align-editor{
    display: flex;
    justify-content: start;
    align-items: center;
 }

 