/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-faq{

    .faq-head{
        display: flex;
		justify-content: space-between;
		align-items: center;
        background-color: #ffffff;
        position: relative;
    }

    .hide-button{
        height: 30px;
        width: 30px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 4;
    }

    .faq-question-container {
        order: 2;
		width: 100%;
    }

    .faq-question-container:hover{
        cursor: pointer;
        color: #7049c6;
    }

    .faq-question-container.active:hover{
        color: #7049c6;
    }

    .faq-block{
        border-left: 1px solid #c4c4c4;
        border-right: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        border-top: 1px solid #c4c4c4;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-bottom: 20px;
    }


    .faq-question{
        margin: 0;
        padding: 15px 30px;
    }

    .faq-answer{
        width: 100%;
        margin: 0;
        padding: 15px 30px;
        color: #000000;
        background-color: #ffffff;
    }

    .faq-answer-container{
        display: none;
    }

    .faq-answer-container.active{
        display: block;
    }

    .renderhide {
        display: none;
    }
    
    .renderhide.active {
        display: block;
    }

}