/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-code .on-complete-buttons {
  width: 50%;
  text-align: center;
  justify-content: center;
}
.grigora-kit-code .code-editor {
  box-sizing: border-box;
  font-family: "Dank Mono", "Fira Code", monospace;
  padding: 10px;
  resize: both;
  min-height: 250px;
  width: 100%;
  display: block;
}