/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-code .code-block-container {
  box-sizing: border-box;
  padding: 10px;
  resize: both;
  min-height: 150px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.grigora-kit-code .code-block-container .code-block {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.grigora-kit-code .code-toolbar .toolbar {
  right: 1.5em;
}