/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-post-grid-2 .img-style {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grigora-kit-post-grid-2 .overlay-style {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.grigora-kit-post-grid-2 .meta-field-container {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  gap: 8px;
}
.grigora-kit-post-grid-2 .meta-style {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  margin: 0;
  order: 3;
}
.grigora-kit-post-grid-2 .meta-field-container svg {
  width: 12px;
  height: 12px;
}
.grigora-kit-post-grid-2 .title-container {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  order: 1;
}
.grigora-kit-post-grid-2 .a-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}
.grigora-kit-post-grid-2 .excerpt-style {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  order: 2;
}
.grigora-kit-post-grid-2 .category-style {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  order: 0;
  width: fit-content;
  color: white;
  text-decoration: none;
}
.grigora-kit-post-grid-2 .cat-container {
  z-index: 2;
}
.grigora-kit-post-grid-2 .content-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  color: white;
  position: relative;
  padding: 5%;
  width: 100%;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .grigora-kit-post-grid-2 .first-style {
    display: flex;
    height: 500px;
    gap: 5px;
    transition: 0.2s;
  }
  .grigora-kit-post-grid-2 .second-style {
    display: flex;
    height: 100%;
    width: 50%;
    gap: 5px;
  }
  .grigora-kit-post-grid-2 .middle-style {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    height: 100%;
  }
  .grigora-kit-post-grid-2 .big-style {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  }
  .grigora-kit-post-grid-2 .small-style {
    position: relative;
    display: flex;
    height: 50%;
    width: 100%;
    overflow: hidden;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (max-width: 767px) {
  .grigora-kit-post-grid-2 .first-style {
    display: flex;
    height: 500px;
    gap: 5px;
    flex-direction: column;
    transition: 0.2s;
  }
  .grigora-kit-post-grid-2 .second-style {
    display: flex;
    height: 50%;
    gap: 5px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .grigora-kit-post-grid-2 .second-style::-webkit-scrollbar {
    display: none;
  }
  .grigora-kit-post-grid-2 .middle-style {
    display: flex;
    gap: 5px;
    height: 100%;
    min-width: 120%;
    max-width: 140%;
  }
  .grigora-kit-post-grid-2 .big-style {
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
    overflow: hidden;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  }
  .grigora-kit-post-grid-2 .small-style {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
    overflow: hidden;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  }
}