/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-post-grid-6 .img-style {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
  transition: 0.2s;
}
.grigora-kit-post-grid-6 .overlay-style {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background: linear-gradient(175deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 61%, rgb(0, 0, 0) 100%);
}
.grigora-kit-post-grid-6 .meta-field-container {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 8px;
}
.grigora-kit-post-grid-6 .meta-style {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  order: 3;
  margin: 0;
}
.grigora-kit-post-grid-6 .meta-field-container svg {
  width: 12px;
  height: 12px;
}
.grigora-kit-post-grid-6 .a-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}
.grigora-kit-post-grid-6 .title-container {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  order: 1;
}
.grigora-kit-post-grid-6 .excerpt-style {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  order: 2;
}
.grigora-kit-post-grid-6 .category-style {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  order: 0;
  width: fit-content;
  color: white;
  text-decoration: none;
}
.grigora-kit-post-grid-6 .content-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  color: white;
  position: relative;
  padding: 5%;
  width: 100%;
}
.grigora-kit-post-grid-6 .cat-container {
  z-index: 2;
}
.grigora-kit-post-grid-6 .first-common {
  height: 500px;
  gap: 5px;
  transition: 0.2s;
  width: 100%;
}
.grigora-kit-post-grid-6 .first-block-style:hover .img-style, .grigora-kit-post-grid-6 .second-block-style:hover .img-style, .grigora-kit-post-grid-6 .third-fourth-block-style:hover .img-style {
  scale: 1.4;
}
@media only screen and (min-width: 768px) {
  .grigora-kit-post-grid-6 .first-style {
    display: flex;
  }
  .grigora-kit-post-grid-6 .middle-style {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .grigora-kit-post-grid-6 .last-style {
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
    gap: 5px;
  }
  .grigora-kit-post-grid-6 .first-block-style {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  }
  .grigora-kit-post-grid-6 .second-block-style {
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
    overflow: hidden;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  }
  .grigora-kit-post-grid-6 .third-fourth-block-style {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (max-width: 767px) {
  .grigora-kit-post-grid-6 .first-style {
    display: flex;
    flex-direction: column;
  }
  .grigora-kit-post-grid-6 .middle-style {
    width: 100%;
    height: 40%;
    display: flex;
    overflow-x: auto;
    gap: 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .grigora-kit-post-grid-6 .middle-style::-webkit-scrollbar {
    display: none;
  }
  .grigora-kit-post-grid-6 .last-style {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 120%;
    max-width: 140%;
    gap: 5px;
  }
  .grigora-kit-post-grid-6 .first-block-style {
    position: relative;
    display: flex;
    width: 100%;
    height: 70%;
    overflow: hidden;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  }
  .grigora-kit-post-grid-6 .second-block-style {
    position: relative;
    display: flex;
    min-width: 60%;
    max-width: 70%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  }
  .grigora-kit-post-grid-6 .third-fourth-block-style {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
    overflow: hidden;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  }
}