/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-form-email .main-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  pointer-events: none;
  gap: 8px;
}
.grigora-kit-form-email .input-container {
  padding: 5px 10px !important;
}
.grigora-kit-form-email .p-container {
  margin-bottom: 0;
}