/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.delete-button {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  order: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}