/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .grigora-kit-form-text{
    
    .main-container{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        pointer-events: none;
        gap: 10px;
    }

    .input-container{
        padding: 5px 10px !important; 
    }

    .p-container{
        margin-bottom: 0;
    }
 }