/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-form-radio .main-container {
  display: flex;
  flex-direction: row !important;
  margin-top: 10px;
  align-items: center;
  gap: 1%;
  pointer-events: none;
}
.grigora-kit-form-radio .label-style {
  width: fit-content;
}
.grigora-kit-form-radio .p-container {
  margin-top: 10px;
}