/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .grigora-kit-social-share {

    display: flex;
    width: 100%;
    
	.icon-item-container{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 25px;
        min-width: 25px;
        width: auto;
        height: auto;
        border-radius: 5px;
        column-gap: 5px;
        padding: 5px;
        
    }

    .icon-item-container:hover{
        cursor: pointer;
    }

    .icons-container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        max-width: 100%;
        column-gap: 10px;
        row-gap: 20px;
        flex-wrap: wrap;
    }

    .share-icon-container{
        display: flex;
        padding: 10px;
        justify-content: space-around;
        border: 1px solid #8d99a0;
        border-radius: 4px;
        margin-right: 20px;
        position: relative;
        background-color: whitesmoke;
        width: 120px;
    }

    .share-icon-container .arrow-design{
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        top: 30%;
        z-index: 5;
        background-color: whitesmoke;
        border-right: 1px solid #8d99a0;
        border-top: 1px solid #8d99a0;
        transform: rotate(45deg);
        left: 92%;
        
    }

    .social-share-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        position:relative;
        z-index: 5;
        column-gap: 20px;
        width: 100%;
        
        
    }

    .share-icon{
        border-right: 1px solid #8d99a0;
        padding-right: 10px;
        display: flex;
        align-items: center;
    }

    .share-text{
        position: relative;
        z-index: 5;
    }


}