/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-countdown .block-editor-inner-blocks {
  width: 100%;
}

.on-complete-buttons {
  width: 50%;
  text-align: center;
  justify-content: center;
}