.toplevel_page_grigora-kit {
  overflow-x: hidden;
  background: #e1e1e1;
}
.toplevel_page_grigora-kit #wpwrap {
  overflow: hidden;
  background: #f0f2f4;
}

.grigora-dashboard {
  display: flex;
  height: 100%;
  margin-bottom: 20px;
  margin-left: -20px;
  flex-direction: column;
}
.grigora-dashboard .header {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid #b5bfc9;
}
.grigora-dashboard .header .branding {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.grigora-dashboard .header .branding .title {
  font-size: 22px;
  font-weight: 500;
}
.grigora-dashboard .settings {
  padding: 10px;
  display: flex;
  padding-top: 30px;
  flex-direction: row;
  padding-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  /* These are the two backgrounds, absolutely positioned to cover. */
  /* On hover, transtiion the shadow of the anchor, and fade in the after element to show the new background. */
}
.grigora-dashboard .settings .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grigora-dashboard .settings .settings-title {
  display: flex;
  width: 100%;
  max-width: 600px;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 30px;
}
.grigora-dashboard .settings .settings-list {
  max-width: 600px;
  width: 100%;
}
.grigora-dashboard .settings .settings-list__ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.grigora-dashboard .settings .settings-list__ul .single-setting {
  position: relative;
  display: block;
  padding: 1rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 0px;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .setting-header {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .setting-info {
  color: #898989;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .setting-info .normal-text {
  color: black;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .setting-info .warning-text {
  color: rgb(204, 17, 17);
}
.grigora-dashboard .settings .settings-list__ul .single-setting:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.grigora-dashboard .settings .settings-list__ul .single-setting + .single-setting {
  border-top-width: 0;
}
.grigora-dashboard .settings .settings-list__ul .single-setting:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .status-toggle {
  float: right;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .status-toggle .check {
  display: block;
  width: 48px;
  height: 25px;
  border-radius: 100px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: 0;
  padding: 0;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .status-toggle a {
  display: block;
  width: 48px;
  height: 25px;
  border-radius: 100px;
  z-index: 5;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .status-toggle .checktoggle {
  background-color: #c0c0c0;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 24px;
  margin-bottom: 0;
  position: relative;
  width: 48px;
  border-radius: 12px;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .status-toggle .checktoggle::after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  transform: translate(5px, -50%);
  -webkit-transform: translate(5px, -50%);
  -ms-transform: translate(5px, -50%);
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .status-toggle .check:checked + .checktoggle {
  background-color: #9404E6;
}
.grigora-dashboard .settings .settings-list__ul .single-setting .status-toggle .check:checked + .checktoggle::after {
  left: 100%;
  transform: translate(calc(-100% - 5px), -50%);
}
.grigora-dashboard .settings .cta-btn {
  position: relative;
  display: inline-block;
  margin: 20px 0 0 20px;
  color: #fff;
  font-size: 21px;
  overflow: hidden;
  padding: 8px 50px;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to right, #A907E3, #7900EA);
  text-decoration: none;
  border-width: 0px;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
  width: 40%;
}
.grigora-dashboard .settings .cta-btn::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to right, #7900EA, #A907E3);
  z-index: -1;
  border-radius: 5px;
}
.grigora-dashboard .settings .cta-btn::before {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.grigora-dashboard .settings .cta-btn:hover::before {
  opacity: 1;
}
.grigora-dashboard .sidebar {
  display: block;
  margin-top: 80px;
}
.grigora-dashboard .sidebar .social {
  display: block;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 300px;
}
.grigora-dashboard .closure-text {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-self: center;
  margin-top: 50px;
}
.grigora-dashboard .closure-text p {
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
}