/* Attention seekers  */
@keyframes bounce {
  from, 20%, 53%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes shakeX {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shakeY {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}
@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes backInUp {
  0% {
    transform: translateY(1200px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInDown {
  0% {
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }
  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }
  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }
  75% {
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInBottomLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInBottomRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInTopLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInTopRight {
  from {
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rotateIn {
  from {
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes rotateInDownLeft {
  from {
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes rotateInDownRight {
  from {
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes rotateInUpLeft {
  from {
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes rotateInUpRight {
  from {
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.has-entrance-animation {
  visibility: hidden;
  animation-name: none !important;
}

.group-alignment-toolbar {
  width: 100%;
}
.group-alignment-toolbar .inner-btn {
  flex: 1;
  justify-content: center;
}

.grigora-multiselect-input {
  width: 100%;
}
.grigora-multiselect-input .grigora-multiselect-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-datetime-input {
  width: 100%;
}
.grigora-datetime-input .grigora-datetime-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-datetime-input__popover .components-popover__content {
  padding: 8px 15px;
  width: 300px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.grigora-datetime-input__popover .components-popover__content::-webkit-scrollbar {
  display: none;
}

.group-alignment-toolbar-label {
  margin-bottom: 0px;
  height: 24px;
}

.components-panel[is-grigora-sidebar] .block-editor-block-card {
  background-color: #f9f4f9;
}

.components-panel[is-grigora-sidebar] .components-panel__body.block-editor-block-inspector__advanced {
  display: none;
  border-top: 0px;
}

.components-panel[grigora-sidebar-selected-index="2"] .components-panel__body.block-editor-block-inspector__advanced {
  display: block;
}

.components-panel[is-grigora-sidebar] .components-panel__body.motion_effects_panel, .components-panel[is-grigora-sidebar] .components-panel__body.sticky_panel, .components-panel[is-grigora-sidebar] .components-panel__body.position_panel, .components-panel[is-grigora-sidebar] .components-panel__body.responsive_panel {
  display: none;
}
.components-panel[is-grigora-sidebar] .components-panel__body.motion_effects_panel {
  border-top: 0px;
}

.components-panel[grigora-sidebar-selected-index="2"] .components-panel__body.motion_effects_panel, .components-panel[grigora-sidebar-selected-index="2"] .components-panel__body.sticky_panel, .components-panel[grigora-sidebar-selected-index="2"] .components-panel__body.position_panel, .components-panel[grigora-sidebar-selected-index="2"] .components-panel__body.responsive_panel {
  display: block;
}

.grigora-notice {
  padding: 15px;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 20px;
}
.grigora-notice.status-success {
  color: #4e9b41;
  background-color: #e3f8e2;
  border-left: 5px solid #c8f8ca;
}
.grigora-notice.status-warning {
  color: #9b9a41;
  background-color: #f6f8e2;
  border-left: 5px solid #e9e8b4;
}
.grigora-notice.status-info {
  color: #41739c;
  background-color: #e4f3ff;
  border-left: 5px solid #c6e3fb;
}

.grigora-tabs-container .tabs-header {
  display: flex;
  background-color: #f9f4f9;
  margin-top: 0;
  margin-bottom: 0;
}
.grigora-tabs-container .tabs-header .general, .grigora-tabs-container .tabs-header .styles, .grigora-tabs-container .tabs-header .advanced {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f4f9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 500;
  margin-bottom: 0px;
  cursor: pointer;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 5px;
  color: #585858;
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(219, 217, 217);
}
.grigora-tabs-container .tabs-header .general:hover, .grigora-tabs-container .tabs-header .styles:hover, .grigora-tabs-container .tabs-header .advanced:hover {
  background-color: #f9f9f9;
}
.grigora-tabs-container .tabs-header .general.react-tabs__tab--selected {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid rgb(219, 217, 217);
  border-bottom: 1px solid transparent;
  color: #9505E8;
}
.grigora-tabs-container .tabs-header .styles.react-tabs__tab--selected {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid rgb(219, 217, 217);
  border-bottom: 1px solid transparent;
  color: #9505E8;
}
.grigora-tabs-container .tabs-header .advanced.react-tabs__tab--selected {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid rgb(219, 217, 217);
  border-bottom: 1px solid transparent;
  color: #9505E8;
}
.grigora-tabs-container .components-panel__body:first-child {
  border-top: 0px;
}

.grigora-normal-hover-tabs-container .tabs-header {
  display: flex;
  background-color: #f9f4f9;
}
.grigora-normal-hover-tabs-container .tabs-header .normal, .grigora-normal-hover-tabs-container .tabs-header .hover {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 500;
  margin-bottom: 0px;
  cursor: pointer;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 5px;
  color: #585858;
  border: 1px solid #e0e0e0;
}
.grigora-normal-hover-tabs-container .tabs-header .normal:hover, .grigora-normal-hover-tabs-container .tabs-header .hover:hover {
  background-color: #f9f9f9;
}
.grigora-normal-hover-tabs-container .tabs-header .normal {
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}
.grigora-normal-hover-tabs-container .tabs-header .hover {
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
}
.grigora-normal-hover-tabs-container .tabs-header .normal.react-tabs__tab--selected {
  background-color: #f9f4f9;
  border: 1px solid #9505E8;
  color: #9505E8;
}
.grigora-normal-hover-tabs-container .tabs-header .hover.react-tabs__tab--selected {
  background-color: #f9f4f9;
  border: 1px solid #9505E8;
  color: #9505E8;
}
.grigora-normal-hover-tabs-container .components-panel__body:first-child {
  border-top: 0px;
}

.grigora-normal-hover-active-tabs-container .tabs-header {
  display: flex;
  background-color: #f9f4f9;
}
.grigora-normal-hover-active-tabs-container .tabs-header .normal, .grigora-normal-hover-active-tabs-container .tabs-header .hover, .grigora-normal-hover-active-tabs-container .tabs-header .active {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 500;
  margin-bottom: 0px;
  cursor: pointer;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 5px;
  color: #585858;
  border: 1px solid #e0e0e0;
}
.grigora-normal-hover-active-tabs-container .tabs-header .normal:hover, .grigora-normal-hover-active-tabs-container .tabs-header .hover:hover, .grigora-normal-hover-active-tabs-container .tabs-header .active:hover {
  background-color: #f9f9f9;
}
.grigora-normal-hover-active-tabs-container .tabs-header .normal {
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}
.grigora-normal-hover-active-tabs-container .tabs-header .hover {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.grigora-normal-hover-active-tabs-container .tabs-header .active {
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
}
.grigora-normal-hover-active-tabs-container .tabs-header .normal.react-tabs__tab--selected {
  background-color: #f9f4f9;
  border: 1px solid #9505E8;
  color: #9505E8;
}
.grigora-normal-hover-active-tabs-container .tabs-header .hover.react-tabs__tab--selected {
  background-color: #f9f4f9;
  border: 1px solid #9505E8;
  color: #9505E8;
}
.grigora-normal-hover-active-tabs-container .tabs-header .active.react-tabs__tab--selected {
  background-color: #f9f4f9;
  border: 1px solid #9505E8;
  color: #9505E8;
}
.grigora-normal-hover-active-tabs-container .components-panel__body:first-child {
  border-top: 0px;
}

.components-panel__body:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.tab-normal, .tab-hover {
  width: 50%;
  justify-content: center;
}

.grigora-dropdown-hstack .components-base-control {
  width: 100%;
  margin-bottom: 10px;
}

.grigora-icon-picker .grigora-svg-icon {
  width: 64px;
  height: 64px;
  display: inline-flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.grigora-icon-picker .grigora-svg-icon:hover {
  background-color: #eee;
}
.grigora-icon-picker .grigora-svg-icon svg {
  width: 32px;
  height: 32px;
}
.grigora-icon-picker .grigora-svg-icon.active {
  border: 2px solid #8000E9;
}

.grigora-icons-selected-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
}
.grigora-icons-selected-svg svg {
  width: 32px;
  height: 32px;
}

.grigora-icons-selected {
  display: flex;
  justify-content: space-around;
}

.grigora-inside-panel {
  border: 1px solid #e0e0e0 !important;
}

.grigora-hover-effects-panel .components-base-control__field {
  justify-content: center;
}

.grigora-icons-panel .dropdown-component-margin-0 .components-base-control {
  margin-bottom: 0px !important;
}
.grigora-icons-panel .dropdown-component-margin-0 .components-base-control .components-base-control__field {
  margin-bottom: 0px !important;
}
.grigora-icons-panel .components-toggle-control .components-base-control__field {
  justify-content: center;
}

.grigora-icon-picker-modal-overlay .components-modal__frame {
  width: 90vw;
  height: 70vh;
}

.popover-link-controls {
  padding: 16px;
  padding-top: 0px;
}

.grigora-range-input .components-range-control {
  width: 100%;
  margin-bottom: 0px !important;
}
.grigora-range-input .components-range-control .components-base-control__field {
  margin-bottom: 0px !important;
}
.grigora-range-input .components-unit-control-wrapper {
  width: 75px;
}
.grigora-range-input .components-unit-control-wrapper .components-unit-control__unit-label {
  width: 15px !important;
}
.grigora-range-input .grigora-range-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-select-input {
  width: 100%;
}
.grigora-select-input .grigora-select-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-fontfamily-input {
  width: 100%;
}
.grigora-fontfamily-input .grigora-fontfamily-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-color-input {
  width: 100%;
  padding-bottom: 15px;
}
.grigora-color-input .grigora-color-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}
.grigora-color-input__colorselect {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  justify-content: space-between;
}
.grigora-color-input__colorselect .inner {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.grigora-color-input__popover .components-popover__content {
  padding: 8px;
}

.grigora-gradient-input {
  width: 100%;
}
.grigora-gradient-input .grigora-gradient-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-colorgradient-input {
  width: 100%;
  padding-bottom: 15px;
}
.grigora-colorgradient-input .grigora-colorgradient-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}
.grigora-colorgradient-input__colorselect {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
}
.grigora-colorgradient-input__popover .components-popover__content {
  padding: 8px;
  width: 250px;
}
.grigora-colorgradient-input__popover .components-popover__content legend {
  display: none;
}

.grigora-borderbox-input {
  width: 100%;
}
.grigora-borderbox-input .grigora-borderbox-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-alignment-input {
  width: 100%;
}
.grigora-alignment-input .grigora-alignment-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}
.grigora-alignment-input .alignment-toolbar {
  width: 100%;
}
.grigora-alignment-input .alignment-toolbar .inner-btn {
  flex: 1;
  justify-content: center;
}

.grigora-typography-input {
  width: 100%;
}
.grigora-typography-input .grigora-typography-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-borderradius-input {
  width: 100%;
}
.grigora-borderradius-input .grigora-borderradius-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}
.grigora-borderradius-input .grigora-borderradius-input__select legend {
  display: none;
}
.grigora-borderradius-input .grigora-borderradius-input__hstack {
  padding-bottom: 5px;
}

.grigora-unit-input {
  width: 100%;
}
.grigora-unit-input .grigora-unit-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-ltrb-input {
  width: 100%;
}
.grigora-ltrb-input .grigora-ltrb-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}
.grigora-ltrb-input .grigora-ltrb-input__top {
  width: 50%;
  margin: auto;
}
.grigora-ltrb-input .grigora-ltrb-input__bottom {
  width: 50%;
  margin: auto;
}

.grigora-box-input {
  width: 100%;
}
.grigora-box-input .grigora-box-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}
.grigora-box-input .component-box-control__header {
  display: none;
}
.grigora-box-input .components-h-stack {
  gap: 10px;
}

.grigora-number-input {
  width: 100%;
}
.grigora-number-input .grigora-number-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-text-input {
  width: 100%;
}
.grigora-text-input .grigora-text-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-toggle-input {
  width: 100%;
}
.grigora-toggle-input .grigora-toggle-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}

.grigora-radio-input {
  width: 100%;
}
.grigora-radio-input .grigora-radio-input__label {
  height: 24px;
  display: flex;
  align-items: center;
}
.grigora-radio-input__radiobox {
  text-align: center;
}

.background-selector {
  text-align: center;
  margin-top: 15px;
}

.grigora-media-select {
  text-align: center;
}

.grigora-gallery-picker-editor {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #d7d4d4;
  padding: 5px;
  border-radius: 3px;
}
.grigora-gallery-picker-editor img {
  display: inline-flex;
  height: auto;
  max-width: 25%;
}

.grigora-focalpoint-picker-h1ma {
  margin-top: 1rem;
}

.grigora-cssfilter-input__popover .components-popover__content {
  padding: 8px;
  width: 200px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.grigora-cssfilter-input__popover .components-popover__content::-webkit-scrollbar {
  display: none;
}
.grigora-cssfilter-input__popover .components-popover__content .grigora-range-input__blur .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-cssfilter-input__popover .components-popover__content .grigora-range-input__brightness .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-cssfilter-input__popover .components-popover__content .grigora-range-input__contrast .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-cssfilter-input__popover .components-popover__content .grigora-range-input__saturation .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-cssfilter-input__popover .components-popover__content .grigora-range-input__hue .components-base-control__label {
  margin-bottom: 0px;
}

.grigora-mousemovement-input__popover .components-popover__content {
  padding: 8px;
  width: 250px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.grigora-mousemovement-input__popover .components-popover__content::-webkit-scrollbar {
  display: none;
}
.grigora-mousemovement-input__popover .components-popover__content .grigora-range-input__blur .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-mousemovement-input__popover .components-popover__content .grigora-range-input__brightness .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-mousemovement-input__popover .components-popover__content .grigora-range-input__contrast .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-mousemovement-input__popover .components-popover__content .grigora-range-input__saturation .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-mousemovement-input__popover .components-popover__content .grigora-range-input__hue .components-base-control__label {
  margin-bottom: 0px;
}

.grigora-typography-input__popover .components-popover__content {
  padding: 8px 15px;
  width: 250px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.grigora-typography-input__popover .components-popover__content::-webkit-scrollbar {
  display: none;
}
.grigora-typography-input__popover .components-popover__content .grigora-range-input__blur .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-typography-input__popover .components-popover__content .grigora-range-input__brightness .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-typography-input__popover .components-popover__content .grigora-range-input__contrast .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-typography-input__popover .components-popover__content .grigora-range-input__saturation .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-typography-input__popover .components-popover__content .grigora-range-input__hue .components-base-control__label {
  margin-bottom: 0px;
}

.grigora-scrollmovement-input__popover .components-popover__content {
  width: 250px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.grigora-scrollmovement-input__popover .components-popover__content .inner-section {
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
}
.grigora-scrollmovement-input__popover .components-popover__content::-webkit-scrollbar {
  display: none;
}
.grigora-scrollmovement-input__popover .components-popover__content .grigora-range-input__blur .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-scrollmovement-input__popover .components-popover__content .grigora-range-input__brightness .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-scrollmovement-input__popover .components-popover__content .grigora-range-input__contrast .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-scrollmovement-input__popover .components-popover__content .grigora-range-input__saturation .components-base-control__label {
  margin-bottom: 0px;
}
.grigora-scrollmovement-input__popover .components-popover__content .grigora-range-input__hue .components-base-control__label {
  margin-bottom: 0px;
}

.grigora-kit-gradient-popover-contents {
  min-width: 360px;
  display: block;
  padding: 30px 20px;
  display: flex;
  position: relative;
}
.grigora-kit-gradient-popover-contents .components-custom-gradient-picker__control-point-button {
  padding: 6px 6px;
}

.grigora-pattern-import-btn {
  color: #b708b5 !important;
  border: 1px solid #b708b5;
  background-color: white !important;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.3s;
}
.grigora-pattern-import-btn:hover {
  color: white !important;
  border: 1px solid #b708b5;
  background-color: #b708b5 !important;
}

.grigora-patterns-modal {
  display: none;
}

.grigora-patterns-modal-open .grigora-patterns-modal {
  display: flex;
}

@keyframes pattern-loading {
  to {
    background-position-x: -20%;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.grigora-patterns-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #F0F2F4;
  flex-direction: column;
  overflow: hidden;
}
.grigora-patterns-modal .header-g {
  display: flex;
  width: 100%;
  background-color: white;
  height: 60px;
  justify-content: space-between;
  border-bottom: 1px solid #dddada;
}
.grigora-patterns-modal .header-g .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 8px 15px 8px 15px;
  cursor: default;
}
.grigora-patterns-modal .header-g .left img {
  height: 100%;
  filter: invert(11%) sepia(99%) saturate(6314%) hue-rotate(279deg) brightness(91%) contrast(111%);
}
.grigora-patterns-modal .header-g .center {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  line-height: 18px;
  padding: 8px 15px 8px 15px;
  cursor: default;
}
.grigora-patterns-modal .header-g .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grigora-patterns-modal .header-g .right .close {
  display: flex;
  height: 100%;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.grigora-patterns-modal .header-g .right .close:hover {
  background-color: #F9F4F9;
}
.grigora-patterns-modal .header-g .right .close svg {
  height: 100%;
  width: 100%;
}
.grigora-patterns-modal .body {
  display: flex;
  flex: 1;
  width: 100%;
}
.grigora-patterns-modal .body .sidebar {
  display: flex;
  background-color: white;
  width: 250px;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  border-right: 1px solid #dddada;
  gap: 30px;
}
.grigora-patterns-modal .body .sidebar .title {
  font-size: 14px;
  font-weight: 700;
  color: #4c4c4c;
  cursor: default;
}
.grigora-patterns-modal .body .sidebar .categories {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.grigora-patterns-modal .body .sidebar .select-category {
  font-size: 14px;
  color: #7c7c7c;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.grigora-patterns-modal .body .sidebar .select-category:hover {
  color: #9505E8;
}
.grigora-patterns-modal .body .sidebar .select-category.active {
  color: #9505E8;
}
.grigora-patterns-modal .body .patterns-parent {
  width: 100%;
  padding: 3rem 2rem 4rem 2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}
.grigora-patterns-modal .body .patterns-parent::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.grigora-patterns-modal .body .patterns-parent::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}
.grigora-patterns-modal .body .patterns-parent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.grigora-patterns-modal .body .patterns-parent::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.grigora-patterns-modal .body .patterns-parent::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
.grigora-patterns-modal .body .select-pattern {
  display: inline-block;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 15px rgba(33, 33, 33, 0.41);
}
.grigora-patterns-modal .body .select-pattern.loading {
  height: 255px;
  background-color: #ededed;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%) #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s pattern-loading ease-in-out infinite;
}
.grigora-patterns-modal .body .select-pattern .thumbnail {
  display: flex;
}
.grigora-patterns-modal .body .select-pattern .thumbnail img {
  width: 100%;
}
.grigora-patterns-modal .body .select-pattern .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}
.grigora-patterns-modal .body .select-pattern .overlay .import {
  padding: 15px;
  background: white;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
  color: #4c4c4c;
}
.grigora-patterns-modal .body .select-pattern .overlay .import:hover {
  background-color: #eae1f0;
}
.grigora-patterns-modal .body .select-pattern .overlay .preview {
  padding: 15px;
  background: white;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: #4c4c4c;
}
.grigora-patterns-modal .body .select-pattern .overlay .preview:hover {
  background-color: #eae1f0;
}
.grigora-patterns-modal .body .select-pattern .overlay .loader {
  display: none;
}
.grigora-patterns-modal .body .select-pattern.active .overlay {
  display: flex;
  background-color: rgba(78, 78, 78, 0.5490196078);
}
.grigora-patterns-modal .body .select-pattern.active .import, .grigora-patterns-modal .body .select-pattern.active .preview {
  display: none;
}
.grigora-patterns-modal .body .select-pattern.active .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.grigora-patterns-modal .body .select-pattern.active .loader::after,
.grigora-patterns-modal .body .select-pattern.active .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #6e1057 #ca6fb3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.grigora-patterns-modal .body .select-pattern.active .loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
.grigora-patterns-modal .body .select-pattern:hover .overlay {
  display: flex;
  background-color: rgba(78, 78, 78, 0.5490196078);
}

.element-container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  user-select: none;
  color: #333;
  font-weight: 400;
  height: 48px;
}

.main-error-container {
  border-style: solid;
  text-align: center;
  padding: 2%;
}

.error-title-container {
  margin-top: 0;
  margin-bottom: 4%;
}

.cursor-events-default {
  cursor: default;
}

.responsive-control {
  display: flex;
  gap: 5px;
  margin-left: 5px;
}
.responsive-control .desktop, .responsive-control .tablet, .responsive-control .mobile {
  display: flex;
  width: 18px;
  cursor: pointer;
  align-items: center;
}
.responsive-control .desktop svg, .responsive-control .tablet svg, .responsive-control .mobile svg {
  color: #979595;
}
.responsive-control .desktop.active svg, .responsive-control .tablet.active svg, .responsive-control .mobile.active svg {
  color: #9505e8;
}
.responsive-control .mobile svg {
  height: 18px;
}