.grigora-button-align-left {
  text-align: start;
}

.grigora-button-align-right {
  text-align: end;
}

.grigora-button-align-center {
  text-align: center;
}

.grigora-button-align-justify .grigora-kit-button {
  width: 100%;
}

.has-entrance-animation {
  visibility: hidden;
  animation-name: none !important;
}