.grigora-kit-tabs{
    .add-tab{
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    .add-tab:hover{
        cursor: pointer;
        color: black;
    }

    .add-tab svg{
        width: 20px;
        height: 20px;
    }

    .delete-icon{
        position: absolute;
        top: 0;
        right: 0;
        color: #000000;
    }

    .delete-icon:hover{
        cursor: pointer;
        color: red;
    }
}