/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-post-author {
  display: flex;
  gap: 10px;
}
.grigora-kit-post-author .grigora-kit-post-author__avatar {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 96px;
}
.grigora-kit-post-author .grigora-kit-post-author__avatar img {
  border-radius: 48px;
}
.grigora-kit-post-author__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.grigora-kit-post-author__content a {
  text-decoration: none;
}
.grigora-kit-post-author__content p, .grigora-kit-post-author__content h1, .grigora-kit-post-author__content h2, .grigora-kit-post-author__content h3, .grigora-kit-post-author__content h4, .grigora-kit-post-author__content h5, .grigora-kit-post-author__content h6, .grigora-kit-post-author__content span, .grigora-kit-post-author__content div {
  margin-bottom: 0 !important;
}