/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-notice {
    .main-block {
        display: flex;
		flex-direction: row; 
		gap: 10px;
		padding: 10px;
        background-color: white;
        border-left: 6px solid #72aee6;
        border-right: 0px solid #72aee6;
        border-top: 0px solid #72aee6;
        border-bottom: 0px solid #72aee6;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 1px 7px 14px -5px #00000033;
    }
    .dismiss-icon-container {
        display: flex;
        align-items: center;
        max-width: 10%;
        justify-content: center;
    }
    .title-container {
        display: flex;
		flex-direction: row; 
    }
    .content-container {
        max-width: 91%;
    }
    .title-content {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .title-content-props {
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .icon-props {
        display: flex;
        align-items: center;
        max-width: 10%;
        justify-content: center;
    }
    .dismiss-icon-props {
        display: flex;
        align-items: center;
        width: 10%;
        justify-content: center;
    }
    .title-style {
        min-width: 90% !important;
    }
}