/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .grigora-kit-star-rating {
	display: flex;
	flex-wrap: wrap;
	
	svg{
		width: 18px;
		height: 18px;
		color: black;
		transition: .3s;
	}
	.star{
		display: flex;
	}
	.active svg{
		color: orange;
	}

}