/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


 .grigora-text-align-start{
    text-align: start;
}

.grigora-text-align-end{
    text-align: end;
}

.grigora-text-align-center{
    text-align: center;
}

.wp-block-grigora-kit-text {
    z-index: 2;
}

@media (max-width: 767px) {
    .grigora-text-mobile-align-start{
        text-align: start;
    }
    
    .grigora-text-mobile-align-end{
        text-align: end;
    }
    
    .grigora-text-mobile-align-center{
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .grigora-text-tablet-align-start{
        text-align: start;
    }
    
    .grigora-text-tablet-align-end{
        text-align: end;
    }
    
    .grigora-text-tablet-align-center{
        text-align: center;
    }
}
