/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.grigora-kit-particles-container{
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	.p-canvas{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
}