/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.grigora-kit-notice .main-block {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border-left: 6px solid #72aee6;
  border-right: 0px solid #72aee6;
  border-top: 0px solid #72aee6;
  border-bottom: 0px solid #72aee6;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}
.grigora-kit-notice .dismiss-icon-container {
  display: flex;
  align-items: center;
  max-width: 10%;
  justify-content: center;
}
.grigora-kit-notice .title-container {
  display: flex;
  flex-direction: row;
}
.grigora-kit-notice .content-container {
  max-width: 91%;
}
.grigora-kit-notice .title-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.grigora-kit-notice .title-content-props {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 6px;
  margin-right: 6px;
}
.grigora-kit-notice .icon-props {
  display: flex;
  align-items: center;
  max-width: 10%;
  justify-content: center;
}
.grigora-kit-notice .dismiss-icon-props {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: center;
}
.grigora-kit-notice .title-style {
  min-width: 90% !important;
}