/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.grigora-kit-roadmap {

    width: fit-content;

    ::selection{
      color: #fff;
      background: #3ea0e2;
    }

    

      .wrapper.middle{
        max-width: 1080px;
        // margin: 50px auto;
        // padding: 0 20px;
        position: relative;
    }

    .wrapper.left{
      max-width: 1080px;
      padding-left: 40px;
      margin-left: 30px;
      position: relative;
    }

    .wrapper.right{
      max-width: 1080px;
      padding-right: 40px;
      margin-right: 30px;
      position: relative;
    }

      .wrapper .row{
        margin-bottom: 40px;
      }

    .wrapper section img{
      object-fit: cover;
      width: 100%;
      height: 200px;
    }

    .wrapper .row section .card-container{
      overflow:hidden;
      border: 1px solid #000;
      border-radius: 4px;
      // position: relative;
    }

    .wrapper section .image-container{
      width: 100%;
			overflow: hidden;
      position: relative;
      z-index: 4;
      height: fit-content;
      line-height: 0;
      background-color: #fff;

    }

    

    .wrapper .row .card-content{
        padding: 20px;
        border-radius: 4px;
        position: relative;
        z-index: 5;
        background-color: #fff;
    }

    .wrapper .row .card-contentimg{
      padding: 20px;
      position: relative;
      z-index: 5;
      background-color: #fff;

  }

      .wrapper .center-line{
        position: absolute;
        height: 100%;
        width: 4px;
        background: linear-gradient(89.9deg, rgb(102, 64, 123) 0%, rgb(252, 41, 119) 100%, rgb(251, 168, 214) 100.1%);  
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
      }

      .wrapper .center-line.left{
        position: absolute;
        height: 100%;
        width: 4px;
        background: linear-gradient(89.9deg, rgb(102, 64, 123) 0%, rgb(252, 41, 119) 100%, rgb(251, 168, 214) 100.1%);
        left: 0%;
        top: 20px;
        transform: translateX(-50%);
      }
      
      .wrapper .center-line.right{
        position: absolute;
        height: 100%;
        width: 4px;
        background: linear-gradient(89.9deg, rgb(102, 64, 123) 0%, rgb(252, 41, 119) 100%, rgb(251, 168, 214) 100.1%);
        left: 100%;
        top: 20px;
        transform: translateX(-50%);
      }

      .wrapper .row{
        display: flex;
        
      }
      .wrapper .row-1{
        justify-content: flex-start;

      }
      .wrapper .row-2{
        justify-content: flex-end;
      }

      .wrapper .row-1.right{
        justify-content: flex-end;
      }

      .wrapper .row-2.left{
        justify-content: flex-start;
      }

      .wrapper .row section{
        background: transparent;
        border-radius: 5px;
        width: calc(50% - 40px);
        position: relative;
      }
      
      .wrapper .row.row-1.right section, .wrapper .row.row-2.left section {
        background: transparent;
        border-radius: 5px;
        width: 100%;
        position: relative;
      }
      

      .wrapper .row.row-1.right section .card-container, .wrapper .row.row-2.left section .card-container{
        background-color: #fff;
        position: relative;
      }
      
      .wrapper .row.row-1 section .card-container, .wrapper .row.row-2 section .card-container{
        background-color: #fff;
        position: relative;
      }
     
      .wrapper .row.row-1.right section .card-container, .wrapper .row.row-1 section .card-container{
        margin-right: 10px;
      }

      .wrapper .row.row-2.left section .card-container, .wrapper .row.row-2 section .card-container{
        margin-left: 10px;
      }

      .wrapper .row section .arrow-design{
        position: absolute;
        content: "";
        height: 25px;
        width: 25px;
        background: #fff;
        top: 28px;
        z-index: 0;
        border: 1px solid #000;
        transform: rotate(45deg);
        overflow: visible;
      }

     


      .row-1 section .arrow-design{
        right: -2px;
      }
      .row-2 section .arrow-design{
        left: -2px;
      }




      .row section .icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
      }


      .row section .icon,
      .center-line .scroll-icon{
        position: absolute;
        background: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #3ea0e2;
        font-size: 17px;
        box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
      }

      .row section .icon svg, .wrapper .scroll-icon svg{
        height: 24px;
        width: 24px;
        color: #3ea0e2;
      }
      .center-line .scroll-icon{
        bottom: 0px;
        left: 50%;
        font-size: 25px;
        transform: translateX(-50%);
      }
      .row-1 section .icon{
        top: 15px;
        right: -60px;
      }
      .row-2 section .icon{
        top: 15px;
        left: -60px;
      }
      .row section .details,
      .row section .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 5;
      }
      .row section .details .title{
        font-weight: 600;
      }
      .row section p{
        margin: 10px 0 17px 0;
      }
      .row section .bottom .link-text{
        text-decoration: none;
        background: #3ea0e2;
        color: #fff;
        padding: 7px 15px;
        border-radius: 5px;
        font-weight: 400;
        transition: all 0.3s ease;
      }
      .row section .bottom .link-text:hover{
        transform: scale(0.97);
        cursor: pointer;
      }

      .row section .title{
        color: black;
      }

      .row section .bottom a{
        text-decoration: none;
      }


      .row section .author{
        color: black;
        text-align: end;
      }

      .row section .content{
        color: black;
      }

      .row section .date{
        color: black;
      }


      @media(max-width: 1024px){
        

        .wrapper{
          margin: 0 30px;
        }
      }
      @media(max-width: 450px){
        .wrapper .center-line,
        .row section .arrow-design,
        .row section .icon{
          display: none;
        }
        .wrapper .row{
          margin: 10px 0;
        }
    }
}